.download-url-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1.5px solid var(--accent-color);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: var(--block-box-shadow);
}

.download-url-button:hover {
    background-color: var(--accent-color);
    color: var(--dark-style-bg);
    transition: background-color 0.3s;
}